.sign-in {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 30px 30px;
    border: 2px solid black;
    background-color: #f7f7ee;

    h2, span {
        color: black;
        font-weight: 800px;
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}