.contact-us {
    width: 500px;
    display: flex;
    flex-direction: column;

    .h1 {
        text-align: center;
        font-weight: 600;
    }

    .title {
        margin: 15px 0 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}