body {
    font-family: 'Fira Sans Condensed', sans-serif;
    padding: 20px 80px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #7E8F7A;
}

a:hover {
    cursor: pointer;
    color: #7E8F7A;
}

